<nav class="flex items-center justify-between w-full">
  <img ngSrc="../../assets/logo.svg" width="32" height="32" alt="logo">
  <div class="flex items-center gap-4 md:gap-5">
    <div  class="flex items-center gap-4 relative antialiased">
      <div (clickOutside)="closeFontSelection()" [@openClose]="isFontSelectionOpen ? 'open' : 'closed' " class="absolute top-10 w-[183px] z-50 right-0 flex flex-col gap-4 bg-white dark:bg-[#1F1F1F] p-5 md:p-6 shadow-2xl shadow-primary rounded-2xl transition-all duration-100 ease-linear opacity-100 " >
        <p (click)="FontSelect('sans serif')" class="text-sm lg:text-lg font-semibold text-primaryForeground capitalize font-inter transition-colors hover:text-primary cursor-pointer">Sans Serif</p>
        <p (click)="FontSelect('serif')" class="text-sm lg:text-lg font-semibold text-primaryForeground capitalize font-lora transition-colors hover:text-primary cursor-pointer">Serif</p>
        <p (click)="FontSelect('mono')" class="text-sm lg:text-lg font-semibold text-primaryForeground capitalize font-inconsolata transition-colors hover:text-primary cursor-pointer">Mono</p>
      </div>
      <span (click)="toggleFontSelection()" id="opener" class="text-primaryForeground text-base md:text-lg  font-semibold select-none cursor-pointer">{{selectedFont}}</span>
      <img (click)="toggleFontSelection()" src="../../assets/icon-arrow-down.svg" class="cursor-pointer" alt="arrow down">
    </div>
    <span class="w-[1px] h-[32px] bg-[#979797]"></span>
    <div class="flex items-center gap-3 sm:gap-5">
      <toggle />
      <mat-icon   class="text-primaryForeground">
        dark_mode
        </mat-icon>

    </div>
  </div>
</nav>