<main class="min-h-screen bg-primaryBackground p-[1.5rem] sm:px-[39px] sm:py-[58px] lg:px-0 transition-colors duration-300">
  <div class="lg:max-w-3xl flex flex-col mx-auto antialiased" [ngClass]="{'font-inter':selectedFont === 'sans serif', 'font-lora':selectedFont === 'serif', 'font-inconsolata':selectedFont === 'mono'}" >
    <navbar (selectFontEvent)="changeFont($event)" />
    <app-search  />
    <div [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>