<section class="text-primaryForeground antialiased flex flex-col">
  @if(isFetching) {
    <svg xmlns="http://www.w3.org/2000/svg" height="54" class="fill-primary animate-spin mx-auto w-52" viewBox="0 -960 960 960" width="54"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"/></svg>
  } @else if(!isFetching && result.length > 0 && !error.isError) {
    <div id="animation wrapper" [@mountAnimation]="animationName">
    <div class="flex items-center justify-between m-0">
      <div class="flex flex-col gap-1 sm:gap-2 ">
        <p class="text-3xl font-semibold sm:text-4xl capitalize lg:text-5xl mb-0">{{result[0].word || 'Keyboard'}}</p>
        <p class="text-primary font-medium text-sm sm:text-base lg:text-lg">{{result[0].phonetic || result[0].phonetics[0] && result[0].phonetics[0].text || result[0].phonetics[1]?.text || ''}}</p>
      </div>
      <audio style="display: none" #audioRef src="{{result[0].phonetics[0] && result[0].phonetics[0].audio || result[0].phonetics[1]?.audio || ''}}"></audio>
      <img (click)="playAudio()" ngSrc="../../assets/icon-play.svg" class="w-[75] h-[75] cursor-pointer" alt="play" width="75" height="75" >
    </div>
    @for (item of result[0].meanings; track $index) {
      <div class="mt-8 sm:mt-[42px] flex items-center gap-4 sm:gap-8 lg:gap-5">
        <p class="text-base sm:text-xl font-semibold">{{item.partOfSpeech ||  'not found'}}</p>
        <div class="h-[1px] w-full bg-hrColor"></div>
      </div>
      <p class="text-base text-[#757575] sm:text-lg mt-8 font-normal">Meaning</p>
      <div class="mt-4 sm:mt-[20px] flex flex-col gap-3">
        @for(definition of item.definitions; track $index) {
          <div class="flex gap-5 items-start">
            <span class="min-w-[5px] min-h-[5px] rounded-full bg-primary mt-2"></span>
            <p class="text-base sm:text-base md:text-lg font-normal text-primaryForeground antialiased text-balance ">{{definition.definition || 'not found'}}</p>
          </div>

        }
          

      </div>
      <div *ngIf="item.synonyms.length > 0" class="flex items-center antialiased mt-5 md:mt-10 lg:mt-14 gap-1">
        <p class="text-[#757575] font-normal antialiased text-base sm:text-lg md:text-xl">Synonyms:</p>
        <div class="flex items-center gap-4 truncate">
          @for(item of item.synonyms ; track $index) {
            <p class="text-primary font-medium text-sm sm:text-base md:text-lg lg:text-xl capitalize ">{{item}}</p>
          }
        </div>
      </div>
      <div *ngIf="item.antonyms.length > 0" class="flex items-center antialiased mt-1 sm:mt-2 lg:mt-3 md:mt-10 gap-1">
        <p class="text-[#757575] font-normal antialiased text-base sm:text-lg md:text-xl">Antonyms:</p>
        <div class="flex items-center gap-4 truncate">
          @for(item of item.antonyms; track $index) {
            <p class="text-primary font-medium text-sm sm:text-base md:text-lg lg:text-xl capitalize ">{{item}}</p>
          }
        </div>
      </div>

    

    }
    <div class="h-[1px] w-full bg-hrColor mt-10 lg:mt-12"></div>

    <div class="flex items-center justify-between mt-4 lg:mt-5 flex-col md:flex-row gap-2 md:gap-5">
      <p class="underline text-sm sm:text-[.85rem] antialiased lg:text:base text-[#757575]">Source</p>
      <div class="flex item-center justify-between gap-1">
        <a class="text-primaryForeground underline antialiased" target="__blank" [href]="result[0].sourceUrls[0]">{{result[0].sourceUrls[0]}}</a>
        <img ngSrc="../../assets/external-link.svg" alt="external link" width="12" height="12">
      </div>
    </div>
    </div>
  }
  @if(error.isError) {
    <div class=" flex items-center justify-center flex-col">
      <ng-lottie width="150px" [options]="lottieOptions"  />
      <p class="text-center font-bold text-primaryForeground mt-4 lg:mt-8 capitalize">{{error.title}}</p>
      <p class="text-base text-balance text-center text-[#757575] mt-2 lg:mt-4">{{error.message}}</p>
      <p class="text-base text-balance text-center text-[#757575]">{{error.resolution}}</p>
    </div>
  }
</section>

