/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --primary-foreground: #2D2D2D;
    --primary-background: #ffffff;
    --primary:#A445ED;
    --moon-border:#757575;
    --input-color:#f4f4f4;
    --hr:#E9E9E9;
    /* transition: all 0.3s ease-in-out; */
  }

  body {
    transition: all 0.3s linear;
  }

  .light{
    --primary-foreground: #2D2D2D;
    --primary-background: #ffffff;
    --primary:#A445ED;
    --moon-border:#757575;
    --input-color:#f4f4f4;
    --hr:#E9E9E9;
  }

  .dark {
    --primary-foreground: #ffffff;
    --primary-background: #050505;
    --primary:#A445ED;
    --moon-border:#A445ED;
    --input-color:#1F1F1F;
    --hr:#3A3A3A;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --primary-foreground: #ffffff;
      --primary-background: #050505;
      --primary:#A445ED;
      --moon-border:#A445ED;
      --input-color:#1F1F1F;
      --hr:#3A3A3A;
    }
  } */
}
