<form [formGroup]="searchForm" (ngSubmit)="onSubmit" (keydown)="onKeyDown($event)" class="w-full  my-6 md:my-[52px] bg-transparent">
  <div class="relative">
    <input type="text" placeholder="Search for anything..."  [ngClass]="{'ring-[#FF5252]':searchForm.get('query')?.errors, 'ring-primary':!searchForm.get('query')?.errors}" formControlName="query" #inputRef class="h-16 rounded-r-2xl outline-none px-4 w-full rounded-l-2xl focus-visible:ring-2 ring-0 focus-visible:ring-offset-1 text-primaryForeground antialiased ring-offset-transparent caret-primary font-semibold text-base   md:text-xl transition-all duration-300 bg-inputColor py-2 placeholder:text-black/20 dark:placeholder:text-white/50">


      <mat-icon (click)="onSubmit()" class="stroke-white text-primary h-6 w-6 absolute top-1/2 -translate-y-1/2 right-6">search</mat-icon>
  </div>
  <p *ngIf="searchForm.get('query')?.errors" class="text-[#FF5252] text-base sm:text-lg  mt-[.5rem] font-normal">Whoops, can’t be empty…</p>
</form>
